.search-bar-single {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.input {
  border: none;
  outline: none;
  font-size: 13px;
  width: 100%;
  background-color: transparent;
}

@media screen and (max-width: 768px){
  .search-bar-single{
    width: 95%;
  }
}